@model IEnumerable<iTechArt.TestApplication.DAL.EF.DrugUnit>

@if (Model != null && Model.Count() > 0)
{
    <table class="table table-hover">
        <thed>
            <tr>
                <th>Drug Unit Id</th>
                <th>Pick Number</th>
                <th>Drug Type Name</th>
                <th>Depot Name</th>
                <th>Weight, kg</th>
            </tr>
        </thed>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td> @item.Id </td>
                    <td> @item.PickNumber </td>
                    <td> @item.DrugType.DrugTypeName </td>
                    <td> @item.Depot.DepotName </td>
                    <td> @item.DrugType.Weight </td>
                </tr>

            }


        </tbody>

    </table>
}

