
@{
    ViewBag.Title = "Deports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<table class="table table-hover">
    <thed>
        <tr>
            <th>Depot Name</th>
            <th>Country Name</th>
            <th>Drug Type Name</th>
            <th>Drug Unit Id</th>
            <th>Pick Number</th>
        </tr>
    </thed>
    <tbody>
        @if (ViewBag.depots.Count != 0)
        {
            foreach (var item in ((List<Test_application_iTechArt.Models.Depot>)ViewBag.depots))
            {

                if (item.DrugUnit.Count != 0)
                {
                    foreach (var unit in (ICollection<Test_application_iTechArt.Models.DrugUnit>)item.DrugUnit)
                    {
                        <tr>
                            <td>@unit.Depot.DepotName</td>
                            <td>@unit.Depot.Country.CountryName</td>
                            <td>@unit.DrugType.DrugTypeName</td>
                            <td>@unit.DrugUnitId</td>
                            <td>@unit.PickNumber</td>
                         </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>@item.DepotName</td>
                        <td>empty</td>
                        <td>empty</td>
                        <td>empty</td>
                        <td>empty</td>
                    </tr>
                }

            }
        }
    </tbody>
</table>

