@using iTechArt.TestApplication.DAL.Models
@{
    ViewBag.Title = "DrugUnitToDepot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="modDialog" class="modal fade" >
<div id="dialogContent" class="modal-dialog"></div>
</div>

<br>

<table class="table table-hover">
    <thed>
        <tr>
            <th>Drug Unit Id</th>
            <th>Pick Number</th>
            <th>Drug Type Name</th>
            <th>Depot Name</th>
        </tr>
    </thed>
@if (ViewBag.drugUnits.Count > 0)
{
    <tbody>
       
            @foreach (DrugUnit item in ViewBag.drugUnits)
            {
                <tr>
                    <td> @item.DrugUnitId </td>
                    <td> @item.PickNumber </td>
                    <td> @item.DrugType.DrugTypeName </td>
                    <td>
                        <select class="form-control" id="@item.DrugUnitId">
                            @foreach (var depot in ViewBag.depots)
                            {
                                <option value="@depot.DepotId">@depot.DepotName</option>

                            }
                         </select>
                    </td>
                    <td>
                     <button id="Save" type="submit" class="btn btn-success" data-text1=@item.DrugUnitId>Save</button>
                    </td>
                </tr>
             
            }


    </tbody>
}
</table>

<script language="javascript" type="text/javascript">
    $('button#Save').click(function () {
        var id = $(this).data("text1");
        var depot = $('select#' + id).val();
        var data = {DrugUnitId:id, DepotId:depot};

        $('#dialogContent').load('UpdateDrugUnitToDepot?' + $.param(data, true));
        $('#modDialog').modal("show");
    });
</script>