@using iTechArt.TestApplication.Web.ViewModels
@model CalculateViewModel

@{
    ViewBag.Title = "Сalculate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<div class="row">
    <div class="col-md-4">
        <label>Depot</label>
        @if (Model.Depots!= null)
        { 
            <select class="form-control DepotId">
                @foreach (var depot in Model.Depots)
                {
                    <option value="@depot.Id">@depot.DepotName</option>

                }
            </select>
        }
    </div>
	<input type="hidden" value="@Model.DrugTypes.Count()" class="count">
    <div  class="col-md-4" >
        @if (Model.DrugTypes.Count()!= 0)
        {
            <div class="DrugTypes">
                @foreach (var drugType in Model.DrugTypes)
                {
                    <label>@drugType.DrugTypeName</label>
                    <input value="" class="form-control @drugType.Id" />
                }
            </div>
        }
        else
        {
            <label>No drug types</label>
        }
    </div>
    <div class="col-md-4">
        <br>
        <button class="btn btn-success calculate">Calculate</button>
    </div>
</div>
<br>
<div class="results"></div>


<script id="calculateTableTemplate" type="text/html">
	<table class="table table-hover">

		<tr>
			<th>Drug Unit Id</th>
			<th>Pick Number</th>
			<th>Drug Type Name</th>
			<th>Depot Name</th>
		</tr>
		<tbody>
			{{if RenderDrugUnits}}
			{{each DrugUnits}}
			<tr>
				<td>${$value.Id}</td>
				<td>${$value.PickNumber}</td>
				<td>${$value.DrugTypeName}</td>
				<td>${$value.DepotName}</td>
			</tr>
			{{/each}}
			{{/if}}
		</tbody>
	</table>
</script>

@Scripts.Render("~/bundles/calculate")