@using iTechArt.TestApplication.Web.ViewModels
@model CalculateViewModel

@{
    ViewBag.Title = "Сalculate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<div class="row">
    <div class="col-md-4">
        <label>Depot</label>
        @if (Model.Depots!= null)
        { 
            <select id="DepotId" class="form-control">
                @foreach (var depot in Model.Depots)
                {
                    <option value="@depot.Id">@depot.DepotName</option>

                }
            </select>
        }
    </div>
	<input type="hidden" id="count" value="@Model.DrugTypes.Count()">
    <div  class="col-md-4" >
        @if (Model.DrugTypes.Count()!= 0)
        {
            <div id="DrugTypes">
                @foreach (var drugType in Model.DrugTypes)
                {
                    <label>@drugType.DrugTypeName</label>
                    <input id="@drugType.Id" value="" class="form-control" />
                }
            </div>
        }
        else
        {
            <label>No drug types</label>
        }
    </div>
    <div class="col-md-4">
        <br>
        <button id="calculate" class="btn btn-success">Calculate</button>
    </div>
</div>
<br>
<div id="results"></div>

