@using iTechArt.TestApplication.DAL.EF
@using iTechArt.TestApplication.Web.ViewModels
@model DrugUnitToDepotViewModel
@{
    ViewBag.Title = "DrugUnitToDepot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="modDialog" class="modal fade" >
<div id="dialogContent" class="modal-dialog"></div>
</div>

<br>

<table class="table table-hover">
    <thed>
        <tr>
            <th>Drug Unit Id</th>
            <th>Pick Number</th>
            <th>Drug Type Name</th>
            <th>Depot Name</th>
        </tr>
    </thed>
@if (Model.DrugUnits!=null)
{
    <tbody>
       
            @foreach (DrugUnit item in Model.DrugUnits)
            {
                <tr>
                    <td> @item.Id </td>
                    <td> @item.PickNumber </td>
                    <td> @item.DrugType.DrugTypeName </td>
                    <td>
                        <select class="form-control" id="@item.Id">
                            @foreach (var depot in Model.Depots)
                            {
                                <option value="@depot.Id">@depot.DepotName</option>

                            }
                         </select>
                    </td>
                    <td>
                     <button id="Save" type="submit" class="btn btn-success" data-text1=@item.Id>Save</button>
                    </td>
                </tr>
             
            }


    </tbody>
}
</table>
