@using iTechArt.TestApplication.DAL.EF
@using iTechArt.TestApplication.Web.ViewModels
@model DepotsViewModel

<table class="table table-hover">
	<thed>
		<tr>
			<th>Depot Name</th>
			<th>Country Name</th>
			<th>Drug Type Name</th>
			<th>Drug Unit Id</th>
			<th>Pick Number</th>
		</tr>
	</thed>
	<tbody>
		@if (Model.RenderItems)
		{
			foreach (var item in (Model.Depots))
			{

				if (Model.DrugUnits.Count() != 0)
				{
					foreach (var unit in (ICollection<DrugUnit>)Model.DrugUnits)
					{
						if (unit.DepotId == item.Id)
						{
							<tr>
								<td>@unit.Depot.DepotName</td>
								<td>@unit.Depot.Country.CountryName</td>
								<td>@unit.DrugType.DrugTypeName</td>
								<td>@unit.Id</td>
								<td>@unit.PickNumber</td>
							</tr>
						}
					}
				}
				else
				{
					<tr>
						<td>@item.DepotName</td>
						<td>empty</td>
						<td>empty</td>
						<td>empty</td>
						<td>empty</td>
					</tr>
				}

			}
		}
	</tbody>
</table>

